body{
  display:contents;
  font-family: Arial, sans-serif;
  background-image: url( "F:\EOJ4Zyj.jpg");
  justify-content: space-evenly;
}

.table{
  border: 1px solid;
  width: 50%;
  border-collapse: collapse;
  margin: auto;
}


td,th{
  text-align: center;
  height: 50px;
  vertical-align: bottom;
  border-bottom: 1px solid #000000;
}

tr:hover{
background-color: aquamarine;
}

.navigation{
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: #8c8888 solid 1px;
  box-shadow: rgba(255, 255, 255, 0.9)inset;
}

.logo {
  font-size: 1.5rem;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.link li {
  margin-right: 20px;
}

.btn{
  display: flex;
  padding: 10px;
  cursor: pointer;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.bttn{
  display: block;
  background-color: transparent;
  text-decoration: dotted;
  padding: 10px;
  cursor: pointer;
  margin: auto;
}
