body{
  font-family: Arial, sans-serif;
  justify-content: space-evenly;
  background-color: rgba(143, 143, 196, 0.793);

}
.container{
  background-color: #fff; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.918);
    width: 80%;
    max-width: max-content; 
    margin: 30px auto;

}
#joke{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
  border: 4px ;
  width: 80%;
  max-width: fit-content;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.918);
  font-family:"Barlow", sans-serif;
  font-weight: 100;
  font-size: 25px;
  background-color: azure;
}

.btn{
  display: flex;
  padding: 7px;
  cursor: pointer;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 2px inset rgb(179, 171, 171);
  border-radius: 10px;
  background-color: rgba(0, 200, 255, 0.737);
}

